---
import Layout from "../layouts/Layout.astro";
import { PAGE_TITLE } from "@constants";
import Header from "@components/General/Header.astro";
import Facts from "@components/body/Facts.astro";
import Projects from "@components/body/Projects.astro";
import Slider from "@components/body/Slider.astro";
import Experience from "@components/body/Experience.astro";

---

<Layout title={PAGE_TITLE}>
  <Header />
  <Facts />
  <Experience />
  <Projects />
  <Slider/>
  <footer class="max-w-limit flex p-20 dark:text-secondary-dark text-secondary-light tiny:text-sm tiny:px-2 text-center  ">
    <span>Made with love ❤ by Samuel Montes</span>
  </footer>
</Layout>

